html, body {
  height: 100%;
  width: 100%;
      font-family: "Sofia", sans-serif;
    background-color:cornflowerblue;
    text-align: center;
}

img {
    width: 400px;
}
.muscular-chicken {
   display: none; 
}

.swagger-chicken {
  display: none;
}

.nosy-chicken {
  display: none;
}

.war-chicken {
  display: none;
}